body {
    background: #fff;
    font-family: Trebuchet, "Trebuchet MS", sans-serif;
}

#viewport {
    margin: 0px 0 0px 0;
    background: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #eee;
    overflow: hidden;
}
    .host {
        position: absolute;
        height: 14px;
        line-height: 14px;
        font-size: 12px;
        width: 200px;
        text-align: right;
        overflow: hidden;
    }
    .url {
        position: absolute;
        height: 14px;
        line-height: 14px;
        font-size: 12px;
        width: 200px;
        overflow: hidden;
    }
